<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue.js demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
      integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app" class="container">
      <h5>New case for creditor {{creditorNumber}}</h5>
      <table class="table table-sm table-bordered">
        <thead class="thead-light">
          <tr>
            <th>inv. number</th>
            <th>inv. text</th>
            <th>inv. date</th>
            <th>due date</th>
            <th>currency</th>
            <th>inv. amt.</th>
            <th>attachment</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="invoice in invoices" v-cloak>
            <td><input type="text" class="form-control" v-model="invoice.number"></td>
            <td><input type="text" class="form-control" v-model="invoice.text"></td>
            <td><input type="text" class="form-control" v-model="invoice.date"></td>
            <td><input type="text" class="form-control" v-model="invoice.duedate"></td>
            <td>
                <select class="form-control" v-model="invoice.currency">
                    <option value="NOK" selected>NOK</option>
                    <option value="EUR">EUR</option>
                </select>
            </td>
            <td><input type="number" class="form-control" v-model="invoice.amount"></td>
            <td>
              <i v-if="!invoice.attachment" class="fas fa-paperclip fa-lg"></i>
              <i v-if="invoice.attachment" class="far fa-file-alt fa-lg" :title="invoice.attachment"></i>
              <i v-if="invoice.attachment" class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" v-model="number"></td>
            <td><input type="text" class="form-control" v-model="text"></td>
            <td><input type="text" class="form-control" v-model="date"></td>
            <td><input type="text" class="form-control" v-model="duedate"></td>
            <td>
              <select class="form-control" v-model="currency">
                <option value="NOK" selected>NOK</option>
                <option value="EUR">EUR</option>
              </select>
            </td>
            <td><input type="number" class="form-control" v-model="amount"></td>
            <td>
              <i class="fas fa-paperclip fa-lg"></i>
              <i class="far fa-file-alt fa-lg"></i>
              <i class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <button v-on:click="addInvoice" class="btn btn-primary">Add invoice</button>
      <button @click="deleteInvoice" class="btn btn-danger">Delete invoice</button>
      <hr>
      <h5>Data that will be send to server</h5>
      {{invoices}}
      <b-btn v-b-modal.modal1>Launch demo modal</b-btn>

      <!-- Modal Component -->
      <b-modal id="modal1" title="Bootstrap-Vue">
        <p class="my-4">Hello from modal!</p>
      </b-modal>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="demo.js"></script>
  </body>
</html>
