[v-cloak] {
    display: none;
}

.container {
    padding-top: 2em;
}

.table {
    table-layout: fixed;
}

.table td {
    vertical-align: middle;
}

.table .fas {
    color: #007bff;
}

.table .fas:hover {
    color: #0056b3;
    cursor: pointer;
}

.table .fas.text-danger:hover {
    color: #c82333 !important;
}
